.container {
    max-width: 1663px;
    width: 100%;
    margin: 0 auto;
}

.site-container {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    font-weight: 400;
    font-size: 16px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}


/*====================*/
