.site-container {
	overflow: hidden;
}

.container {
	max-width: 1663px;
	padding: 0 30px;
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e5e5e5;
	font-weight: 400;
	font-size: 16px;
}

.btn-reset {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.nav-top-menu__style {
	color: var(--color-white);
	transition: color 0.2s ease;
}

.nav-top-menu__item:hover {
	outline: 2px solid #D1A9F0;
	transition: outline 0.2s ease;
}

.nav-top-menu__item:hover .nav-top-menu__outl {
	color: #fff;
	transition: color 0.2s ease;
}

.nav-top-menu__style:hover {
	color: var(--color-hover);
	transition: color 0.2s ease;
}

.nav-top-menu__style:active {
	color: var(--color-activ);
	transition: color 0.2s ease;
}

.nav-top-menu__style:focus {
	outline: 2px solid var(--color-activ);
	transition: color 0.2s ease;
}

.nav-top-menu__outl:focus {
	outline: none;
}
.section__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
}
/*====================*/
