@import "_normalize.css";
@import "_fonts.css";
@import "_veriables.css";
@import "_global.css";
@import "_vendor.css";
@import "_overall.css";

/* components import */

@import "../css/components/header.css";
@import "../css/components/section-hiro.css";
@import "../css/components/section-about.css";
@import "../css/components/section-gallery.css";
:root {
    --akcent-color: #9D5CD0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: extrabold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1723px;
    width: 100%;
    margin: 0 auto;
    padding: 30 px;
}

.site-container {
    overflow: hidden;
}

.section-h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

button {
    cursor: pointer;
    border: none;
}

select {
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-top {
    background: #000;
}

.header-top__wrapper {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 30px;
}

.header-top__list {
    margin-left: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header-top__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header-top__item:not(:last-child) {
    margin-right: 62px;
}

.header-top__buttom-enter {
    padding: 0;
    margin: 0;
    margin-left: 292px;
    margin-bottom: 7px;
    width: 75px;
    height: 19px;
    border: none;
    background-color: inherit;
    background-image: url(../../img/exit.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-battom {
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
}


/*===================================*/

.header-battom {
    display: flex;
    align-items: center;
}

.box {
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.box:not(:last-child) {
    margin-right: 84px;
}

.header-option__select {
    padding: 0;
    margin: 0;
    color: #000;
}


/*==============================*/

.section-about__title {
    margin-top: 80px;
}

.section-about__text {
    margin-top: 15px;
    margin-bottom: 70px;
    max-width: 66%;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.section-gallery {
    height: 800px;
    color: #fff;
    background-image: url(../../img/banner-gallery.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-gallery__title {
    color: #fff;
}

.gallery-box {
    padding: 0;
    margin: 0;
    background: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 400px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

.section-hiro {
    color: #FFFFFF;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-hiro__title {
    padding-top: 242px;
    font-weight: 800;
    max-width: 36%;
    font-size: 72px;
    line-height: 84px;
}

.section-hiro__text {
    margin-top: 17px;
    max-width: 37%;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
}

.button-subscription {
    margin-top: 92px;
    margin-bottom: 122px;
    padding: 22.5px 35px;
    background: var(--akcent-color);
    border-radius: 100px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
