
.about {
  background-color: #fff;
}
.about__container {
  padding: 81px 0 67px 32px;
}
.about__title {
  display: inline-block;
  margin-bottom: 18px;
}

.about__text {
  max-width: 66%;
  font-size: 16px;
  line-height: 32px;

}
