.catalog {
  background-color: #fff;
  padding: 80px 0 80px;
}

.catalog-navigation__nav {
  margin-bottom: 40px;
}

.catalog-tabs {
  display: flex;
  align-items: center;
}

.catalog-tabs__nav {
  margin-bottom: 17px;
}

.catalog-tabs__title {
  margin-right: 40px;
}

.catalog-block {
  padding-top: 10px;
}

.catalog-navigation__discr {
  max-width: 68%;
  line-height: 32px;
}

.catalog-block__button {
  width: 46px;
  height: 46px;
}

.catalog-block__img1 {
  background-image: url(../../img/image4.svg);
}

.catalog-block__img3 {
  background-image: url(../../img/image5.svg);
}

.catalog-block__img2 {
  background-image: url(../../img/image6.svg);
}

.catalog-block__img4 {
  background-image: url(../../img/image7.svg);
}

.catalog-block__img5 {
  background-image: url(../../img/image8.svg);
}

.catalog-block__button:not(:last-child) {
  margin-right: 47px;
}

.catalog-information {
  display: flex;
  justify-content: space-between;
}
.catalog-accordion {
  width: 50%;
}
.catalog-artists {
  flex: 0 0 47%;
}



.ui-state-default {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #333;
}
.ui-widget-content {
  border: none;
  border-bottom: 1px solid var(--color-akcent);
  border-radius: 0;
  background: #0000;
  color: #333;
}
.accordion__title  {
  border-bottom: 1px solid #cacaca;
  }
.accordion__title--border {
  border-radius: 0;
  border-top: 1px solid #cacaca;
}
.ui-state-active {
  border-bottom: 1px solid var(--color-akcent);
  border-radius: 0;
}
.accordeon__discr {
  display: flex;
}
.ui-accordion .ui-accordion-header {

  padding: 35px 0 40px 0;
}
.ui-accordion .ui-accordion-header {
  padding: 35px 0 40px 0;
  font-size: 24px;
  font-weight: 600;
}
.ui-accordion-header-icon {
  display: none;
}
