.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../../img/galleri_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-left__link {
  color: var(--color-hover);
  transition: color .2s ease;
}

.gallery-left__link:hover {
  color: var(--color-activ);
  transition: color .2s ease;
}

.choices {
  max-width: 89%;
  max-height: 45px;
  border-radius: 6px;
}

.choices__inner {
  background: transparent;
  border-radius: 6px;
}

.choices__list--dropdown {
  background: transparent;
  border-radius: 6px;
}

.choices__placeholder {
  opacity: 1;
  color: var(--color-white);
}

.choices__item--selectable::after {
  display: none;
}

.choices__list--single .choices__item {
  width: 100%;
  padding-left: 5px;
  letter-spacing: 2px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
  border: 1px solid var(--color-white);
}

.choices__list--dropdown .choices__item {
  padding: 10px 0 10px 25px;
  font-size: 14px;
}

.gallery-left__title {
  color: var(--color-white);
}

.gallery-left__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  letter-spacing: 0.3px;
  margin-bottom: 13px;
}

.gallery-left__discription {
  max-width: 88%;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: var(--color-white);
}

.gallery-right {}

.swiper-container {
  margin-right: inherit;
  max-width: 1150px;
  height: auto;
}

.gallery-right__swiper {
  padding-top: 86px;
}

.swiper-wrapper {}

.gallery__slider-nav {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 25px;
  left: 0;
  display: flex;
  align-items: center;
}

.swiper-pagination {
  position: static;
  color: #fff;
}

.swiper-pagination-fraction__nav {
  width: auto;
  padding: 0 17px;
  z-index: 999;
}

.swiper-button-prev, .swiper-button-next {
  position: relative;
  background-color: #666;
  width: 27px;
  height: 27px;
  left: 0;
  border-radius: 100%;
  transition: background-color .2s ease;
}

.swiper-button-prev::after {
  font-size: 11px;
  color: #fff;
  pointer-events: none;
}

.swiper-button-next::after {
  font-size: 11px;
  color: #fff;
  pointer-events: none;
}

.swiper-button-prev:hover {
  background-color: var(--color-hover);
  transition: background-color .2s ease;
}

.swiper-button-next:hover {
  background-color: var(--color-hover);
  transition: background-color .2s ease;
}

.swiper-button-prev:active {
  background: var(--color-activ);
  border: 3px solid var(--color-border);
  transition: background 0.2s ease;
}

.swiper-button-next:active {
  background: var(--color-activ);
  border: 3px solid var(--color-border);
  transition: background 0.2s ease;
}

.swiper-slide {
  cursor: pointer;
  transition: opacity .3s linear;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 90%;
  height: 90%;
  background: url(../../img/Group_hover.svg);
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  transition: opacity .3s linear;
}

.swiper-slide:hover::before {
  opacity: 1;
  transition: opacity .3s linear;
}
