.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-top {
    height: 100px;
    background-color: #000;
}

.header-top-list {
    display: flex;
    align-items: center;
}

.header-top-btn__span {
    font-size: 18px;
    font-weight: 400;
}

.header-top-btn {
    width: 13px;
    height: 13px;
    color: #fff;
    line-height: 0px;
}
