.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-top {
    height: 100px;
    background-color: #000;
}

.header-top-menu {
    margin-right: 33px;
}

.header-top-list {
    display: flex;
    align-items: center;
}

.header-top-item {
    color: var(--color-white);
    margin-right: 62px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.header-top-btn {
    transform: translatey(-6px);
    width: 75px;
    height: 19px;
    margin-right: 67px;
}


/*=========header-bottom*/

.header-bottom {
    height: 70px;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.header-bottom-container {
    height: 70px;
    align-items: center;
}

.header-bottom-menu>ul {
    display: flex;
}

.header-bottom-menu ul li>a {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header-bottom-menu__title>a {
    color: #fff;
}

.header-bottom-menu__title>a:hover {
    color: #000;
}

.header-bottom-menu__item {
    width: 220px;
    height: 40px;
    outline: 2px solid red;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header-bottom-menu__title {
    position: relative;
    margin-right: 99px;
    line-height: 70px;
}

.header-bottom-menu__span {}

.header-bottom-menu__list {
    padding: 40px;
    width: 300px;
    height: 300px;
    outline: 2px solid red;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 100;
    top: 70px;
    display: none;
    transition: all 0.3s ease;
}

.header-bottom-menu__title:hover .header-bottom-menu__list {
    display: block;
    transition: all 0.3s ease;
}
