.hero {
  overflow: hidden;
  position: relative;
}

.hero__wrapper {
  padding-top: 239px;
  padding-bottom: 119px;
}

.hero__anime {
  white-space: nowrap;
  word-wrap: normal;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: heroLane 40s alternate ease-in-out infinite;
}

@keyframes heroLane {
  0% {
    opacity: 1;
    background-image: url(../../img/banner1.jpg);
    background-size: cover;
  }
  11.11% {
    opacity: 1;
    transform: scale(1.1);
    background-image: url(../../img/banner1.jpg);
    background-size: cover;
  }
  22.22% {
    opacity: 0.8;
    transform: scale(1);
    background-image: url(../../img/banner1.jpg);
    background-size: cover;
  }
  /*======================================================*/
  44.44% {
    opacity: 1;
    background-image: url(../../img/banner2.jpg);
    background-size: cover;
  }
  55.55% {
    opacity: 1;
    transform: scale(1.1);
    background-image: url(../../img/banner2.jpg);
    background-size: cover;
  }
  66.66% {
    opacity: 0.8;
    transform: scale(1);
    background-image: url(../../img/banner2.jpg);
    background-size: cover;
  }
  77.77% {
    opacity: 1;
    background-image: url(../../img/banner3.jpg);
    background-size: cover;
  }
  88.88% {
    opacity: 1;
    transform: scale(1.1);
    background-image: url(../../img/banner3.jpg);
    background-size: cover;
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
    background-image: url(../../img/banner3.jpg);
    background-size: cover;
  }
}

.hero__titleh1 {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.hero__title {
  font-weight: 600;
  font-size: 72px;
  line-height: 83px;
  color: #fff;
  max-width: 36%;
  letter-spacing: 1.5px;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  max-width: 37%;
  letter-spacing: 0.5px;
  padding-top: 18px;
  margin-top: 0;
  padding-bottom: 94px;
}

.hero__link {
  display: inline-block;
  color: #fff;
  padding: 20px 37px;
  background: var(--color-akcent);
  border: 3px solid var(--color-akcent);
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transition:  all 0.2s;
}

.hero__link:hover {
  background: var(--color-akcent);
  border: 3px solid var(--color-border);
  transition: background 0.2s ease;
}

.hero__link:active {
  background: var(--color-activ);
  border: 3px solid var(--color-border);
  transition: background 0.2s ease;
}

.hero__link:focus {
  outline: none;
  background: var(--color-activ);
  border: 3px solid var(--color-border);
  transition: outline-color 0.2s ease;
}
