.hero {
    position: relative;
}

.fadein {
    position: absolute;
    z-index: -1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    44.44% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fadein {
    position: relative;
    width: 100%;
}

.fadein img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.fadein img:nth-child(1) {
    animation-delay: 0s;
}

.fadein img:nth-child(2) {
    animation-delay: 3s;
}

.fadein img:nth-child(3) {
    animation-delay: 6s;
}


/*==========================================================*/

.hero-title {
    padding-top: 242px;
    width: 597px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 72px;
    line-height: 82px;
}

.hero-discription {
    padding-top: 19px;
    width: 597px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.hero-btn {
    outline: none;
    padding: 22px 35px;
    background: #9D5CD0;
    border: 3px solid #9D5CD0;
    border-radius: 100px;
    margin-top: 92px;
    margin-bottom: 122px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn:hover {
    outline: none;
    border: 3px solid #D1A9F0;
}

.hero-btn:active {
    outline: none;
    border: 3px solid #D1A9F0;
    background: #7943A4;
}